NODE_ENV=dev
JWT_ACCESS_SECRET=test_access_secret_123
JWT_REFRESH_SECRET=test_refresh_secret_456
MONGO_CONNSTRING=mongodb://mongodb:27017/6gb2msg?directConnection=true&replicaSet=rs0
PORT=3000
CLIENT_URL=http://localhost:5173
PROFILE_AVATAR_DIR=/uploads/avatars
MESSAGE_ATTACHMENT_DIR=/uploads/attachments
ELASTIC_URL=http://search:9200
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=elastic
ELASTIC_INDEX_PROFILES=profiles_v1
ELASTIC_INDEX_CHATS=chats_v1
ELASTIC_INDEX_MESSAGES=messages_v1
GOOGLE_CLIENT_SECRET=client_secret
GOOGLE_CLIENT_ID=client_id
GOOGLE_CALLBACK_URL=https://6gb2msg.com/auth/oauth/google/callback
COOKIE_SAMESITE=none
